.blogContentTable {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 50px;
}
.blogContentTableTitle {
  padding-bottom: 15px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 44px;
  letter-spacing: -0.01em;
  width: 340px;
}
.blogContentTableDescription {
  width: 340px;
  font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 140%;
}
.blogContentTableImage {
  padding-bottom: 15px;
}
.blogContentTableLink {
  cursor: pointer;
}
