.formSection {
  width: 1441px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 144px;
  padding-bottom: 144px;
  .formSectionLeft {
    width: 60%;
    padding-left: 173px;
    .formSectionLeftText {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      line-height: 59px;
      letter-spacing: -0.01em;
    }
    .formSectionLeftImage {
      padding-top: 80px;
    }
  }
  .formSectionRight {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 12%;
    padding-left: 2%;
    padding-top: 5%;
    .formSectionRightTopBox {
      height: 15%;
      margin-bottom: 50px;
      background-color: #fefaf2;
      align-items: center;
      border: 3px solid #000000;
      padding-left: 20px;
    }
    .formSectionRightBottomBox {
      height: 50%;
      margin-bottom: 38px;
      background-color: #fefaf2;
      align-items: center;
      border: 3px solid #000000;
      padding-top: 40px;
      padding-left: 20px;
    }
  }
}
.formSectionRightTopBox::placeholder {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 170%;
}
.formSectionRightBottomBox::placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 170%;
  padding-right: 20px;
}
.submit {
  border: none;
  background: #9d4f7c;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  outline: none;
  height: 60px;
  cursor: pointer;
}
