.blog {
    background-color: #FEFAF2;
}
.youMay {
    width: 1441px;
    margin: auto;
    padding-top: 50px;
    padding-left: 72px;
    align-items: flex-start;
    padding-bottom: 50px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}
.blogTableFirstRow {
    width: 1441px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 72px;
    padding-right: 72px;

}