.magicSection {
  width: 1441px;
  margin: auto;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 146px;
  padding-bottom: 164px;
  .magicSectionTitle {
    font-size: 64px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
  }
  .magicSectionBottom {
    padding-top: 167px;
    margin-left: 289px;
    display: flex;
    flex-direction: row;
    .magicSectionPoints {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 104px;
      .magicSectionPointSquare {
        height: 150px;
        width: 3px;
        background-color: #9d4f7c;
      }
      .magicSectionPointNumber {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        background-color: #d6abc4;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 72px;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
      }
    }
    .magicSectionPointText {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: left;
      padding-top: 40px;
      padding-bottom: 30px;
      .magicSectionPointTextBox {
        .magicSectionPointTextTitle {
          font-size: 36px;
          font-family: "Montserrat", sans-serif;
          font-weight: 800;
          text-align: left;
          margin-bottom: 24px;
        }
        .magicSectionPointTextText {
          font-size: 24px;
          font-family: "Montserrat", sans-serif;
          font-weight: 400;
          text-align: left;
        }
      }
    }
  }
}
