.hiSection {
  max-width: 1441px;
  margin: auto;
  padding-top: 221px;
  padding-bottom: 210px;
  display: flex;
  .hiSectionLeft {
    padding-left: 125px;
    .hiSectionLeftImage {
    }
  }
  .hiSectionRight {
    padding-top: 100px;
    .hiSectionRightText {
      .hiSectionRightTextIntro {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 59px;
        letter-spacing: -0.01em;
        margin-bottom: 39px;
      }
      .hiSectionRightTextDescription {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 170%;
        margin-bottom: 40px;
      }
      .hiSectionButtons {
        display: flex;
        justify-content: space-between;
        width: 183px;
      }
    }
  }
}
