.footer {
  background: #f3bc54;
}
.footerContainer {
  width: 1441px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 80px;
  .footerLeft {
    padding-left: 72px;
    .footerLeftTitle {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      line-height: 59px;
      letter-spacing: 0.15em;
      margin-bottom: 38px;
    }
    .footerLeftButtons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 38px;
      cursor: pointer;
    }
    .footerLeftEmail {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0.15em;
      margin-bottom: 34px;
    }
    .footerLeftAddress {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0.15em;
      width: 300px;
    }
  }
  .footerRight {
    padding-right: 72px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.15em;
  }
}
