.navBar {
    max-width: 1441px;
    margin: auto;
    display: flex;
    flex-direction: row;
    .navBarContent {
        display: flex;
        padding-right: 72px;
        justify-content: flex-start;
        padding-top: 58px;
        width: 100%;
        padding-left: 5%;
    }
}
.navBarButton {
    border: none;
    background: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    outline: none;
    padding-right: 42px;
}
.navBarButton:hover{
    text-decoration: underline;
    cursor: pointer;
}
.navBarButtonHighlighted {
    border: none;
    background: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    outline: none; 
    padding-right: 42px;
    font-weight: bold;
    cursor: pointer;
}
.navBarButtonHighlighted:hover{
    text-decoration: underline;
}
.link {
    cursor: pointer;
}
.navBarButton {
    cursor: pointer;
}