.firstPage {
  display: flex;
  margin-top: 20px;
  .firstPageLeft {
    background-color: red;
    margin-left: 50px;
    margin-right: 50px;
    min-width: 300px;
    max-width: 450px;
  }
  .firstPageRight {
    background-color: red;
    margin-left: 50px;
    margin-right: 100px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    .firstPageRightTitle {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      line-height: 59px;
      letter-spacing: -0.01em;
    }
    .firstPageRightText {
      // padding-top: 24px;
      padding-bottom: 24px;
      // padding-right: 283px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
    }
    .getInTouchDiv {
      padding-right: 530px;
    }
  }
}
@media screen and (max-width: 650px) {
  .firstPage {
    display: flex;
    flex-direction: column;
  }
}