.secondSection {
  background: #ffe299;
  background: linear-gradient(to bottom, #ffe299 85%, #feeadc 41% 100%);
  display: flex;
  justify-content: center;
  .threePointsBackGround {
    min-height: 500px;
    .threePoints {
      display: flex;
      flex-direction: row;
      padding-top: 100px;
      height: 550px;
      .solution {
        background: #f8cdba;
        margin-left: 30px;
        flex-shrink: 0;
        max-width: 404px;
        margin-bottom: 20px;
        padding-top: 7%;
        .solutionBox {
          .solutionTitle {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 800;
            font-size: 36px;
            line-height: 44px;
            text-align: left;
            letter-spacing: -0.01em;
            position: relative;
            margin-left: 37.14px;
            // margin-top: 129px;
          }
          .solutionBackRec {
            background: #fefaf2;
            height: 30px;
            width: 204px;
            position: absolute;
            margin-top: 20px;
            margin-left: 53.93px;
          }
          .solutionText {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 140%;
            margin-top: 54px;
            margin-left: 49.23px;
            margin-right: 42.08px;
          }
        }
      }
      .technology {
        background: #d6abc4;
        margin-left: 30px;
        flex-shrink: 0;
        max-width: 404px;
        margin-bottom: 20px;
        padding-top: 7%;
        .technologyBox {
          padding-bottom: 50px;
          .technologyBackRec {
            background: #fefaf2;
            height: 30px;
            width: 204px;
            position: absolute;
            margin-top: 20px;
            margin-left: 53.93px;
          }
          .technologyTitle {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 800;
            font-size: 36px;
            line-height: 44px;
            text-align: left;
            letter-spacing: -0.01em;
            position: relative;
            margin-left: 37.14px;
          }
          .technologyText {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 140%;
            margin-top: 54px;
            margin-left: 54.02px;
            margin-right: 54.93px;
          }
        }
      }
      .experience {
        background: #f3bc54;
        margin-left: 30px;
        flex-shrink: 0;
        max-width: 404px;
        margin-bottom: 20px;
        padding-top: 7%;
        .experienceBox {
          .experienceBackRec {
            background: #fefaf2;
            height: 30px;
            width: 204px;
            position: absolute;
            margin-top: 20px;
            margin-left: 53.93px;
          }
          .experienceTitle {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 800;
            font-size: 36px;
            line-height: 44px;
            text-align: left;
            letter-spacing: -0.01em;
            position: relative;
            margin-left: 37.14px;
          }
          .experienceText {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 140%;
            margin-top: 54px;
            margin-left: 48.74px;
            margin-right: 39.69px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1100px) {
  .secondSection {
    background: #ffe299;
    .threePointsBackGround {
      .threePoints {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        height: 100%;
        .solution {
          background: #f8cdba;
          margin: auto;
          width: 90%;
          height: 300px;
          margin-bottom: 10px;
          .solutionBox {
            .solutionTitle {
              font-family: Montserrat;
              font-style: normal;
              font-weight: 800;
              font-size: 24px;
              line-height: 44px;
              text-align: left;
              letter-spacing: -0.01em;
              position: relative;
            }
            .solutionBackRec {
              background: #fefaf2;
              height: 17px;
              width: 166px;
              position: absolute;
              margin-top: 20px;
              margin-left: 40.93px;
            }
            .solutionText {
              font-family: Montserrat;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 140%;
              margin-top: 10px;
              margin-left: 49.23px;
              margin-right: 42.08px;
            }
          }
        }
        .technology {
          background: #d6abc4;
          margin: auto;
          width: 90%;
          height: 300px;
          margin-bottom: 10px;
          .technologyBox {
            .technologyBackRec {
              background: #fefaf2;
              height: 17px;
              width: 166px;
              position: absolute;
              margin-left: 40.93px;
            }
            .technologyTitle {
              font-family: Montserrat;
              font-style: normal;
              font-weight: 800;
              font-size: 24px;
              line-height: 44px;
              text-align: left;
              letter-spacing: -0.01em;
              position: relative;
            }
            .technologyText {
              font-family: Montserrat;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 140%;
              margin-top: 10px;
              margin-left: 49.23px;
              margin-right: 42.08px;
            }
          }
        }
        .experience {
          background: #f3bc54;
          margin: auto;
          width: 90%;
          height: 300px;
          margin-bottom: 10px;
          .experienceBox {
            .experienceBackRec {
              background: #fefaf2;
              height: 17px;
              width: 166px;
              position: absolute;
              margin-left: 40.93px;
            }
            .experienceTitle {
              font-family: Montserrat;
              font-style: normal;
              font-weight: 800;
              font-size: 24px;
              line-height: 44px;
              text-align: left;
              letter-spacing: -0.01em;
              position: relative;
            }
            .experienceText {
              font-family: Montserrat;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 140%;
              margin-top: 10px;
              margin-left: 49.23px;
              margin-right: 42.08px;
            }
          }
        }
      }
    }
  }
}
