.topLine {
    height: 20px;
    background-color: #D7890D;
    width: 100%;
}
.navBar {
    max-width: 1441px;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding-left: 72px;
    .navBarLeft {
        .navBarLeftTitle {
            padding-top: 54px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 800;
            font-size: 24px;
            line-height: 29px;
            letter-spacing: 0.15em;
        }
    }
    .navBarRight {
        display: flex;
        padding-right: 72px;
        justify-content:flex-end;
        padding-top: 58px;
        width: 100%;
    }
}
