.technologyShouldSection {
  display: flex;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
  padding-left: 5%;
  .secondPageBottomLeft {
    display: flex;
    flex-direction: column;
    max-width: 640px;
    .secondPageBottomLeftTitle {
      font-size: 64px;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
    }
    .secondPageBottomLeftText {
      font-size: 24px;
      font-family: "Montserrat", sans-serif;
      margin-bottom: 20px;
    }
  }
  .secondPageBottomRight {
    display: flex;
    align-items: center;
    max-width: 600px;
    // min-width: 400px;
  }
}
@media only screen and (max-width: 800px) {
  .technologyShouldSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 20px 20px 20px;
    .secondPageBottomLeft {
      display: flex;
      flex-direction: column;
      .secondPageBottomLeftTitle {
        font-size: 32px;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
      }
      .secondPageBottomLeftText {
        font-size: 18px;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 20px;
      }
    }
  }
}
.getInTouch {
  max-width: 155px;
}