#getInTouchButton {
  font-weight: 1000;
}
.getInTouchButton {
  min-width: 155px;
  min-height: 49px;
  border: none;
  background: #9d4f7c;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  outline: none;
  cursor: pointer;
}
