.navBarButton {
    border: none;
    background: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    outline: none; 
    padding-right: 42px;
}
.navBarButtonHighlighted {
    border: none;
    background: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    outline: none; 
    padding-right: 42px;
    font-weight: bold;
    cursor: pointer;
}
.link {
    cursor: pointer;
}