.firstSection {
  background: linear-gradient(
    to right,
    #FFF3DA 41%,
    #FEFAF2 41% 100%
  );
}

.secondPage {
  .threePointsBackGround {
    background: #FFE299;
    display: flex;
    width: 100%;
    height: 620px;
    .threePoints {
      display: flex;
      justify-content: space-evenly;
      flex-shrink: 0;
      padding-top: 200px;
      width: 100%;
      position: relative;
      .solution {
        height: 547px;
        width: 550px;
        background: #F8CDBA;
        margin-right: 30px;
        flex-shrink: 0;
        .solutionBox {
          padding-left: 60px;
          padding-right: 60px;
          padding-top: 120px;
          .solutionBackRec {
            background: #FEFAF2;
            height: 30px;
            width: 277.98px;
            position: absolute;
            margin-top: 30px;
          }
          .solutionTitle {
            font-family: 'Montserrat', sans-serif;
            font-size: 48px;
            font-weight: 1000;
            position: relative;
            margin-bottom: 40px;
          }
          .solutionText {
            font-family: 'Montserrat', sans-serif;
            font-size: 24px;
          }
        }
      }
      .technology {
        height: 547px;
        width: 550px;
        background: #D6ABC4;
        margin-right: 30px;
        flex-shrink: 0;
        .technologyBox {
          padding-left: 60px;
          padding-right: 60px;
          padding-top: 120px;
          .technologyBackRec {
            background: #FEFAF2;
            height: 30px;
            width: 277.98px;
            position: absolute;
            margin-top: 30px;
          }
          .technologyTitle {
            font-family: 'Montserrat', sans-serif;
            font-size: 48px;
            font-weight: 1000;
            position: relative;
            margin-bottom: 40px;
          }
          .technologyText {
            font-family: 'Montserrat', sans-serif;
            font-size: 24px;
          }
        }
      }
      .experience {
        height: 547px;
        width: 550px;
        background: #F3BC54;
        margin-right: 30px;
        flex-shrink: 0;
        .experienceBox {
          padding-left: 60px;
          padding-right: 60px;
          padding-top: 120px;
          .experienceBackRec {
            background: #FEFAF2;
            height: 30px;
            width: 277.98px;
            position: absolute;
            margin-top: 30px;
          }
          .experienceTitle {
            font-family: 'Montserrat', sans-serif;
            font-size: 48px;
            font-weight: 1000;
            position: relative;
            margin-bottom: 40px;
          }
          .experienceText {
            font-family: 'Montserrat', sans-serif;
            font-size: 24px;
          }
        }
      }
    }
  }
  .secondPageBottom {
    padding-top: 200px;
    padding-left: 166px;
    display: flex;
    background-color: #FEEADC;
    .secondPageBottomLeft {
      display: flex;
      flex-direction: column;
      width: 700px;
      margin-right: 100px;
      height: 800px;
      .secondPageBottomLeftTitle {
        font-size: 64px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
      }
      .secondPageBottomLeftText {
        width: 600px;
        font-size: 24px;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 20px;
      }
    }
  }
}
.thirdPage {
  background-color: #FEFAF2;
  .thirdPageTop {
    display: flex;
    .thirdPageTopLeft {
      margin-left: 120px;
      margin-top: 100px;
      .thirdPageTopLeftImage {

      }
    }
    .thirdPageTopRight {
      background-color: #F8CDBA;
      width: 100%;
      padding-top: 200px;
      padding-bottom: 300px;
      .thirdPageTopRightText {
        margin-left: 200px;
        .thirdPageTopRightTextIntro {
          font-size: 48px;
          font-family: 'Montserrat', sans-serif;
          font-weight: 800;
        }
        .thirdPageTopRightTextDescription {
          width: 760px;
          margin-top: 50px;
          font-size: 18px;
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;
        }
        .thirdPageTopRightTextButtons {
          width: 200px;
          margin-top: 100px;
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
  .thirdPageBottom {
    margin-top: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #FFF3DA;
    display: flex;
    flex-direction: column;
    align-items: center;
    .thirdPageBottomText {
      width: 1020px;
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 24px;
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      font-weight: 400;
    }
    .thirdPageBottomAuthor {
      font-family: 'Montserrat', sans-serif;
      font-size: 24px;
      font-weight: 700;
    }
  }
}
.thirdPageTopLeftImage {
  
}
.fourthPage {
  background-color: #FEFAF2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-bottom: 50px;
  .fourthPageTitle {
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 64px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
  }
  .fourthPageBottom {
    height: 1007px;
    width: 954px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .fourthPagePoints {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      .fourthPagePointSquare {
        height: 150px;
        width: 3px;
        background-color: #9D4F7C;
      }
      .fourthPagePointNumber {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        background-color: #D6ABC4;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 72px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
      }
    }
    .fourthPagePointText {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: left;
      height: 950px;
      .fourthPagePointTextBox {
        margin-top: 40px;
        .fourthPagePointTextTitle {
          font-size: 36px;
          font-family: 'Montserrat', sans-serif;
          font-weight: 800;
          text-align: left;
          margin-bottom: 25px;
        }
        .fourthPagePointTextText {
          font-size: 24px;
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;
          text-align: left;
          height: 123px;
          width: 629px;
        }
      }
    }
  }
}
.fifthPage {
  background-color: #FEEADC;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .fifthPageLeft {
    margin-left: 149px;
    margin-top: 339px;
    margin-bottom: 349px;
    font-size: 64px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    width: 952px;
    .fifthPageLeftTitle {
      margin-bottom: 50px;
    }
  }
  .fifthPageRight {
    margin-top: 150px;
  }
}
.sixthPage {
  display: flex;
  flex-direction: row;
  background-color: #FEFAF2;
  padding-bottom: 140px;
  .sixthPageLeft {
    margin-top: 100px;
    margin-left: 75px;
    .sixthPageLeftText {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 64px;
      line-height: 78px;
      letter-spacing: -0.01em;
      width: 873px;
      height: 162px;
      margin-bottom: 78px;
    }
  }
  .sixthPageRight {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    .sixthPageRightTopBox {
      height: 100px;
      width: 841px;
      margin-bottom: 50px;
      background-color: #FEFAF2;
      align-items: center;
      border: 3px solid #000000;

    }
    .sixthPageRightBottomBox {
      height: 280px;
      width: 841px;
      margin-bottom: 38px;
      background-color: #FEFAF2;
      align-items: center;
      border: 3px solid #000000;
      padding-top: 50px;
    }
  }
}
.sixthPageRightTopBox::placeholder {
  padding-left: 29px;
  color: #969696;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;      
}
.sixthPageRightBottomBox::placeholder {
  padding-left: 29px;
  color: #969696;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;      
}
.submit {
  border: none;
  background: #9D4F7C;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
  outline: none; 
  height: 83px;
  width: 356px;
}
.footer {
  background: #F3BC54;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 148px;
  padding-right: 148px;
  padding-top: 148px;
  padding-bottom: 348px;

  .footerLeft {
    height: 149px;
    width: 146px;
    .footerLeftTitle {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      line-height: 59px;
      letter-spacing: 0.15em; 
      margin-bottom: 38px;
    }
    .footerLeftButtons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 38px;
    }
    .footerLeftEmail {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0.15em;
      margin-bottom: 34px;
    }
    .footerLeftAddress {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0.15em;
      width: 300px;
    }
  }
  .footerRight {
    height: 150px;
    width: 348px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.15em;
  }
}