.firstSection {
  background: linear-gradient(
    to right,
    #FFF3DA 41%,
    #FEFAF2 41% 100%
  );
}
.technologyShouldSection {
  background-color: #feeadc;
  display: flex;
  justify-content: center;
}
.hiSection {
  background: linear-gradient(
    to right,
    #FEFAF2 40%,
    #F8CDBA 40% 100%
  );
}
.alexSection {
  background-color: #fff3da;
}
.magicSection {
  background-color: #fefaf2;
}
.competitionSection {
  background-color: #FEEADC;
}
.formSection {
  background-color: #fefaf2;
}

