.firstSection {
  background: linear-gradient(
    to right,
    #FFF3DA 41%,
    #FEFAF2 41% 100%
  );
}
.technologyShouldSection {
  background-color: #feeadc;
  display: flex;
  justify-content: center;
}
.hiSection {
  background: linear-gradient(
    to right,
    #FEFAF2 40%,
    #F8CDBA 40% 100%
  );
}
.alexSection {
  background-color: #fff3da;
}
.magicSection {
  background-color: #fefaf2;
}
.competitionSection {
  background-color: #FEEADC;
}
.formSection {
  background-color: #fefaf2;
}
.sixthPage {
  display: flex;
  flex-direction: row;
  background-color: #FEFAF2;
  padding-bottom: 140px;
  .sixthPageLeft {
    margin-top: 100px;
    margin-left: 75px;
    .sixthPageLeftText {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 64px;
      line-height: 78px;
      letter-spacing: -0.01em;
      width: 873px;
      height: 162px;
      margin-bottom: 78px;
    }
  }
  .sixthPageRight {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    .sixthPageRightTopBox {
      height: 100px;
      width: 841px;
      margin-bottom: 50px;
      background-color: #FEFAF2;
      align-items: center;
      border: 3px solid #000000;

    }
    .sixthPageRightBottomBox {
      height: 280px;
      width: 841px;
      margin-bottom: 38px;
      background-color: #FEFAF2;
      align-items: center;
      border: 3px solid #000000;
      padding-top: 50px;
    }
  }
}
.sixthPageRightTopBox::placeholder {
  padding-left: 29px;
  color: #969696;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;      
}
.sixthPageRightBottomBox::placeholder {
  padding-left: 29px;
  color: #969696;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;      
}
.submit {
  border: none;
  background: #9D4F7C;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
  outline: none; 
  height: 83px;
  width: 356px;
}
.footer {
  background: #F3BC54;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 148px;
  padding-right: 148px;
  padding-top: 148px;
  padding-bottom: 348px;

  .footerLeft {
    height: 149px;
    width: 146px;
    .footerLeftTitle {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      line-height: 59px;
      letter-spacing: 0.15em; 
      margin-bottom: 38px;
    }
    .footerLeftButtons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 38px;
    }
    .footerLeftEmail {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0.15em;
      margin-bottom: 34px;
    }
    .footerLeftAddress {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0.15em;
      width: 300px;
    }
  }
  .footerRight {
    height: 150px;
    width: 348px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.15em;
  }
}