.secondPage {
  max-width: 1441px;
  margin: auto;
  .threePointsBackGround {
    background: #ffe299;
    display: flex;
    min-height: 500px;
    .threePoints {
      display: flex;
      justify-content: space-evenly;
      flex-shrink: 0;
      padding-top: 100px;
      margin-left: 72px;
      margin-right: 72px;
      position: absolute;
      .solution {
        background: #f8cdba;
        margin-right: 30px;
        flex-shrink: 0;
        max-width: 404px;
        .solutionBox {
          .solutionTitle {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 800;
            font-size: 36px;
            line-height: 44px;
            text-align: left;
            letter-spacing: -0.01em;
            position: relative;
            margin-left: 37.14px;
            margin-top: 129px;
          }
          .solutionBackRec {
            background: #fefaf2;
            height: 30px;
            width: 204px;
            position: absolute;
            margin-top: 20px;
            margin-left: 53.93px;
          }
          .solutionText {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 140%;
            margin-top: 54px;
            margin-left: 49.23px;
            margin-right: 42.08px;
          }
        }
      }
      .technology {
        background: #d6abc4;
        margin-right: 30px;
        flex-shrink: 0;
        max-width: 404px;
        .technologyBox {
          padding-bottom: 50px;
          .technologyBackRec {
            background: #fefaf2;
            height: 30px;
            width: 204px;
            position: absolute;
            margin-top: 20px;
            margin-left: 53.93px;
          }
          .technologyTitle {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 800;
            font-size: 36px;
            line-height: 44px;
            text-align: left;
            letter-spacing: -0.01em;
            position: relative;
            margin-left: 37.14px;
            margin-top: 129px;
          }
          .technologyText {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 140%;
            margin-top: 54px;
            margin-left: 54.02px;
            margin-right: 54.93px;
          }
        }
      }
      .experience {
        background: #f3bc54;
        margin-right: 30px;
        flex-shrink: 0;
        max-width: 404px;
        .experienceBox {
          .experienceBackRec {
            background: #fefaf2;
            height: 30px;
            width: 204px;
            position: absolute;
            margin-top: 20px;
            margin-left: 53.93px;
          }
          .experienceTitle {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 800;
            font-size: 36px;
            line-height: 44px;
            text-align: left;
            letter-spacing: -0.01em;
            position: relative;
            margin-left: 37.14px;
            margin-top: 129px;
          }
          .experienceText {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 140%;
            margin-top: 54px;
            margin-left: 48.74px;
            margin-right: 39.69px;
          }
        }
      }
    }
  }
  .secondPageBottom {
    padding-top: 100px;
    padding-left: 166px;
    display: flex;
    background-color: #feeadc;
    .secondPageBottomLeft {
      display: flex;
      flex-direction: column;
      width: 700px;
      margin-right: 100px;
      height: 800px;
      .secondPageBottomLeftTitle {
        font-size: 64px;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
      }
      .secondPageBottomLeftText {
        width: 600px;
        font-size: 24px;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 20px;
      }
    }
  }
}
